

.main {
  padding-bottom: 100px;
  overflow: auto;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.title strong {
  
  text-decoration: none;
}


.title {
  margin: 0;
  text-align: center;
  line-height: 1.15;
  font-size: 5rem;
  color: var(--yellow);
  font-family: Hermit;
}

.title,
.description {
  text-align: center;
}

.info {
  margin-top: 50px;
}
.about {
  line-height: 1.5;
  font-size: 1.8rem;
  border: 2px solid  var(--purple);
  border-radius: 5px;
  padding: 2.5rem;
}

.about strong {
  color: var(--orange);
}


.logo {
  height: 1em;
}

