.player {
  border: 2px solid var(--purple);
  border-radius: 5px;
}


.main {
  margin-top: 50px;
  padding-bottom: 100px;
  overflow: auto;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.title strong {
  
  text-decoration: none;
}


.title {
  margin: 0;
  text-align: center;
  line-height: 1.15;
  font-size: 5rem;
  color: var(--yellow);
  font-family: Hermit;
}

.title,
.description {
  text-align: center;
}

.info {
  margin-top: 50px;
}
.about {
  line-height: 1.5;
  font-size: 1.8rem;
  border: 2px solid  var(--purple);
  border-radius: 5px;
  padding: 2.5rem;
}

.about strong {
  color: var(--orange);
}

.code {
  background: var(--purple);
  color: var(--yLightGrey);
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Hermit, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}





.logo {
  height: 1em;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
