.player {
  border: 2px solid var(--purple);
  border-radius: 5px;
}


.title strong {

  text-decoration: none;
}


.title {
  margin: 0;
  text-align: center;
  line-height: 1.15;
  font-size: 5rem;
  color: var(--yellow);
  word-wrap: break-word;
  font-family: Hermit;
}


.title,
.description {
  text-align: center;
}

.info {
  margin-top: 50px;
}
.about {
  line-height: 1.5;
  font-size: 1.8rem;
  border: 2px solid  var(--purple);
  border-radius: 5px;
  padding: 2.5rem;
}


.about strong {
  color: var(--orange);
}

.table {
  margin: 0 auto;
  border: 1px solid var(--pWhite);
  border-radius: 5px;
  border-spacing: 0;
}

.table th, .table td {
  border-right: 1px solid var(--pWhite);
  
}

.table th:last-of-type, .table td:last-of-type {
  border-right: none;
}

.table th{
  padding: 2.5rem;
  color: var(--orange);
  font-family: Hermit;
  border-bottom: 1px solid var(--pWhite);
}

.table td {
  padding: 2rem 2.5rem;
  text-align: center;
}





.logo {
  height: 1em;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
